.card {
    padding: 35px 25px;
    background-color: var(--gray);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.image_wrapper {
    height: 195px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card_footer {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: var(--black);
    border-radius: 20px;
    padding: 30px 30px;
    backdrop-filter: blur(50px);
    background-color: var(--white);
    transition: background-color var(--anim-function),
        color var(--anim-function);
}

.link {
    position: relative;
    border-radius: 25px;
    background-color: var(--violet);
    box-shadow: 5px 5px 15px 0 #bfc5db;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.link:before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -40px;
    width: 50px;
    height: 23px;
    background-image: url('./../../../../public/decor/image-2.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.link_img {
    transition: transform var(--anim-function);
}

.card_footer:hover {
    background-color: var(--yellow);
}

.card_footer:hover .link_img {
    transform: rotate(45deg);
}

.card_footer:active {
    background-color: var(--green);
    color: var(--white);
}