.title {
    font-family: var(--font-bebas-neue);
    font-weight: 700;
    font-size: var(--size);
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--black-toggle);
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}



.description {
    font-weight: 600;
    font-size: clamp(0.875em, 0.446em + 0.893vi, 1.25em);
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--slate-gray);
    margin-bottom: 25px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.title_wrapper {
    display: flex;
    gap: 30px;
}


.section:not(:first-of-type) {
    padding: 100px 0 0px 0px;
}

.section_custom {
    padding: 100px 0 100px 0 !important;
}


.bg_gray {
    background-color: var(--gray);
    border-radius: 30px;
}

.bg_gray .title {
    color: var(--black);
}

.section:last-of-type {
    /* padding: 100px 0px; */
}

.document_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .document_list {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media (max-width: 1023px) {
    .list {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }

    .title {
        margin-bottom: 20px;
    }

}

@media (max-width: 560px) {
    .list {
        grid-template-columns: 1fr;
        gap: 25px;
    }
}