.section {
    position: relative;
    padding: 120px 0 120px;
}

.section:nth-child(2) {
    padding: 120px 0;
}

.title {
    width: 100%;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: clamp(2.5em, -1.071rem + 7.44vw, 5.625em);
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 20px;
    position: relative;
    display: inline-block;

    text-align: center;
}

.title_wrapper {
    max-width: 770px;
    margin: 0 auto;
    position: relative;
}

.decor {
    position: absolute;
    top: 40%;
    left: 0%;
}

section.list {
    width: 100%;
    min-height: 2300px;
    position: relative;
    padding: 30px 0;
    margin-bottom: 0;
    font-family: "Palatino"; 
}

section.list::before {
    content: "";
    position: absolute;
    top: 0;
    height: 85.6%;
    width: 1px;
    background: var(--gray);
    z-index: 1;
    transform: translateX(-50%);
    left: 50%;
}

@media screen and (max-width: 769px) {
    .list {
        height: 78.6%;
    }
    .circle_last {
        left: 46.6%;
    }
}


@media screen and (max-width: 480px) {
    section.list::before {
        left: 5%;
    }
}