.card {
    padding: 35px 25px;
    background-color: var(--gray);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    height: 100%;
}