.section {
    padding: 70px 0;
}

.title {
    font-family: var(--font-bebas-neue);
    font-weight: 700;
    font-size: clamp(2.5em, -1.071em + 7.44vw, 5.625em);
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--black);
    position: relative;
    margin-bottom: 50px;
}

.title::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 245px;
    height: 16px;
    background-image: url('../../../public/decor/image-3.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.item {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 30px;
    padding: 30px 40px;
    width: 100%;
}

.item_img {
    position: absolute;
    top: 20px;
    right: 20px;
}

.main_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.main_img_mobile {
    display: none !important;
}

.subtile {
    font-weight: 700;
    font-size: clamp(0.75em, 0.179em + 1.19vw, 1.25em);
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 10px;
    max-width: 260px;
}

.text {
    font-size: clamp(0.625em, 0.196em + 0.893vw, 1em);
    max-width: 260px;
    color: var(--white);
}

.item:nth-child(1) {
    background-color: var(--violet);
    background-image: url('../../../public/why/bg-1.svg');
}

.item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 0;
}

.item:nth-child(3) {
    background-color: var(--green);
    background-image: url('../../../public/why/bg-2.svg');
}

.item:nth-child(4) {
    background-color: var(--light-blue);
    background-image: url('../../../public/why/bg-3.svg');
}

.item:nth-child(5) {
    background-color: var(--purple);
    background-image: url('../../../public/why/bg-4.svg');
}

@media (max-width: 1023px) {
    .list {
        gap: 15px;
    }

    .item {
        padding: 20px 20px;
    }

    .subtile {
        max-width: 160px;
    }

    .item_img {
        width: 45px;
        height: 50px;
        top: 10px;
        right: 10px;
    }

    .text {
        max-width: 170px;
    }
}

@media (max-width: 650px) {
    .list {
        grid-template-columns: 1fr;
    }

    .item:nth-child(2) {
        grid-column: auto;
        grid-row: 3/4;
        padding: 0;
        height: 208px;
    }

    .subtile {
        max-width: 80%;
    }

    .text {
        max-width: 80%;
    }

    .item {
        padding: 30px 25px;
        min-height: 146px;
    }

    .item_img {
        top: 20px;
        right: 20px;
    }

    .main_img {
        display: none;
    }

    .main_img_mobile {
        display: block !important;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
    }
}

@media screen and (max-width: 480px) {
    .section {
        padding: 50px 0 50px;
    }
}