.title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: clamp(2.5em, -1.071rem + 7.44vw, 5.625em);
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.title_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.subtitle {

    font-family: var(--second-family);
    font-weight: 700;
    font-size: clamp(1.25rem, 1.25rem + 2.083vw, 3.125rem);

    color: var(--white);
}


.section:not(:first-of-type) {
    padding: 100px 0 0px 0px;
}

.section_custom {
    padding: 100px 0 100px 0 !important;
}

.section:last-of-type {
    padding: 100px 0px;
}
