.title {
    font-family: var(--font-bebas-neue);
    font-weight: 700;
    font-size: var(--size);
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--black-toggle);
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}


.section:not(:first-of-type) {
    padding: 120px 0;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.decor2 {
    position: absolute;
    top: 10px;
    right: 10px;
}

.decor3 {
    position: absolute;
    bottom: -10px;
    right: 10px;
}



.field_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.field {
    font-weight: 700;
    color: var(--black);
}

.field_value {
    color: var(--black);
}

.item_name {
    color: var(--black);
    margin-bottom: 5px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 80px;
}

.item {
    margin-top: 10px;
    background-color: var(--gray);
    padding: 25px 30px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    font-weight: 700;
    padding: 15px;
    color: var(--black);
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--white);
    border-radius: 20px;
    margin-bottom: 20px;

    min-height: 125px;
}

.link {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    width: 100%;
    background-color: var(--violet);

    border-radius: 10px;
}

.subtitle {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}


@media screen and (max-width: 480px) {
    .list {
        grid-template-columns: repeat(1, 1fr);
    }

    .item {
        padding: 15px 15px;
    }

    .item_title {
        font-size: 12px;
    }
}