.section__swiper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 100%;
}

.slider__title {
    max-width: 70%;
    color: var(--white);
    mix-blend-mode: difference;

    font-family: var(--font-bebas-neue);
    font-size: clamp(2.25em, 1.286em + 4.821vw, 5.625em);
    font-weight: 700;

    text-transform: uppercase;

    margin-bottom: 30px;

}

.slider__wrapper__content p, .slider__desc {
    color: var(--white);
    font-family: var(--font-family);
    font-weight: 400;

    margin-bottom: 40px;

    max-width: 50%;

    font-size: clamp(0.875em, 0.804em + 0.357vw, 1.125em);
}


.slider__wrapper__content ul, .slider__list {
    -moz-column-count: 1;
    column-count: 1;

    list-style: disc;
    max-width: 50%;
    column-count: 2;
    column-gap: 60px;
}

.add_class {
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 60px;
    column-gap: 60px;
}

.add_class li {
    font-size: clamp(0.75em, 0.482em + 0.714vw, 1.125em) !important;
    margin-bottom: 10px;
}

.add_class_desc {
    margin-bottom: 20px;
}

.add_class_title {
    margin-bottom: 0;
}

.add_class_link {
    margin-top: 20px !important;
}

.slider__wrapper__content ul, .slider__list li {
    font-size: clamp(0.75em, 0.607em + 0.714vw, 1.25em);
    font-family: var(--font-family);
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--white);
    
}

.slider__link {
    width: max-content;

    font-family: var(--font-family);
    font-size: clamp(0.875em, 0.804em + 0.357vw, 1.125em);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    color: var(--black);

    font-weight: 700;
    background-color: var(--orange);

    text-align: center;
    padding: 20px 20px;
    border: none;
    border-radius: 6px;

    transition: 0.7s ease-in-out;

    margin-top: 40px;
    min-width: 330px;

    box-shadow: 20px 20px 30px 0 rgba(25, 24, 48, .2);
    color: var(--black);
}

.slider__link:hover {
    color: var(--white);
    background-color: var(--green);
}

.slider__link:active {
    color: var(--white);
    background-color: var(--violet);
}

.slider__link>svg path {
    transition: 0.7s ease-in-out;
}

.slider__link:hover>svg path {
    stroke: var(--white);
}


.slider__wrapper__content {
    position: relative;
    z-index: 1;

    min-height: 680px;

    padding: 60px 90px;
}

.sliderBg {
    position: absolute;
    height: 100%;
    /* max-height: 680px; */
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 20px;
}

.slider__img__pattern {
    max-height: clamp(20em, 13.214em + 33.929vw, 43.75em);
    max-width: clamp(18.75em, 9.107em + 48.214vw, 52.5em);
}

@media screen and (max-width: 769px) {
    .slider__wrapper__content {
        padding: 30px 30px;
    }

    .slider__title,
    .slider__desc,
    .slider__list {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .slider__link {
        min-width: 215px;
    }
}