.section {
    padding: 40px 0 60px;
}

.list {
    margin-top: 20px;
}

.item {
    margin-bottom: 10px;
}

.item_link {
    color: var(--blue);
    transition: color 0.3s ease;
}

.item_link:hover {
    color: var(--violet);
}