
.section {
    position: relative;
    padding: 60px 0;
}


.title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: clamp(2.5rem, -1.071rem + 7.44vw, 5.625rem);
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--white);
    position: relative;
    margin-bottom: 50px;
}

.partners_img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 350px;
    border-radius: 30px;
    background-color: var(--white);
    border: 1px solid #C3C9DD
}

.partners_img > img{

    height: auto;
    width: auto;
    object-fit: cover;
}