.form {
    text-align: left;
}

.form__title {
    font-family: var(--second-family);
    font-size: clamp(2.125rem, 1.661rem + 2.321vw, 3.75rem);
    color: var(--black);
    font-weight: 700;
    margin-bottom: 20px;
}

.form__subtitle {
    color: var(--black);
    font-size: clamp(0.875rem, 0.768rem + 0.536vw, 1.25rem);
    text-align: start;
    font-weight: 600;
    margin-bottom: 20px;
}

.form__label {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
    color: #757F99;
    text-align: start;
    font-weight: 400;
    margin-bottom: 10px;
}

.form__btn__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;

    font-weight: 700;
    font-size: 18px;
    color: var(--black);

    border-radius: 6px;
    border: none;
    cursor: pointer;

    box-shadow: 20px 20px 30px 0 #bfc5db;
    background-color: var(--orange);
    padding: 20px;

    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 30px;
}
.form__btn__submit svg {
    transition: all 0.3s ease;
    stroke: #191830;
}

.form__btn__submit:hover {
    color: var(--white);
    background-color: var(--green);
}
.form__btn__submit:active {
    color: var(--white);
    background-color: var(--dark-blue);
}

.form__btn__submit:hover svg {
    stroke: var(--white);
}

.input_wrapper {
    position: relative;
    padding-bottom: 30px;
}

.input_text_error {
    position: absolute;
    bottom: 5px;
    left: 0;
    color: red;
    font-size: 14px;
}

.policy_error {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: red;
}

.form__input {
    background-color: var(--white);
    border-radius: 6px;
    border: none;
    min-height: 40px;
    padding: 0 20px;
    display: flex;
    width: 100%;
}

.form__textarea {
    background-color: var(--white);
    border-radius: 6px;
    border: none;
    min-height: 100px;
    padding: 10px 20px;
    display: flex;
    width: 100%;
}

.form__policy {
    position: relative;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    text-align: left;
    gap: 20px;
}

.policy_text {
    font-weight: 400;
    font-size: 14px;
    color: #757f99;
}

.policy_text a {
    text-decoration: underline;
}

.error {
    border: 1px solid red !important;
}

.checkbox {
    display: none;
}

.label {
    position: relative;
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid var(--dark-blue);
}

.checkbox:checked ~ .label {
    background-color: var(--dark-blue);
    background-image: url('/icons/check.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.success {
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 6px;
    text-align: center;
}




