.section {
    padding: 0 0 60px 0;
}


.title {
    font-family: var(--font-bebas-neue);
    font-weight: 700;
    font-size: var(--size);
    line-height: 1.1;
    letter-spacing: 0.02em;
    /* color: var(--black-toggle); */
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.title_wrapper {
    display: flex;
    gap: 30px;
}


.bg_gray {
    background-color: var(--gray);
    border-radius: 30px;
}

.bg_gray .title {
    color: var(--black);
}

.vacancies_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.vacancies_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--gray);
    border-radius: 30px;
    padding: 30px;
}

.vacancies_item_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.vacancies_item_info_name {
    font-weight: 700;
    font-size: 16px;
    color: var(--black);

}

.vacancies_item>div>p>span {
    margin-top: 20px;
}

.vacancies_item_info_address {
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
}

.vacancies_item_info_price {
    font-weight: 700;
    color: var(--violet);
    font-size: 30px;
}

.item_job {
    margin-bottom: 20px;
}

.button_wrapper {
    margin-top: 20px;
}

.button {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--violet);
    padding: 20px 0;
    border-radius: 10px;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    max-height: 60px;
}

.decor2 {
    position: absolute;
    bottom: -20px;
    right: 0;
}

.arrow {}


.item_job {
    position: relative;
    text-align: center;
    color: var(--black);
    border-radius: 50px;
    padding: 20px;
    background-color: var(--white);
    font-weight: 700;
    font-size: 16px;
}

@media (max-width: 768px) {
    .document_list {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}


@media screen and (max-width: 480px) {
    .vacancies_list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.content p {
    line-height: 1.2;
    margin-bottom: 10px;
}