.popup {}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 30px;
}

.link {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--link-color);
    position: relative;
    padding: 10px 30px 10px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menuTitle {
    position: relative;
}

.menuTitle svg {
    stroke: var(--default-color);
}

.sublist {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    z-index: 5;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    text-transform: lowercase;
}

.menuTitle:hover>.sublist {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
    visibility: visible;
    background-color: #fff;
    color: #000;
}