.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    position: relative;
}

.link,
.sub_link {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--link-color);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color var(--anim-function);
}

.sub_link {
    color: var(--black);
    padding: 0;
}

.link:hover,
.sub_link:hover {
    color: var(--violet);
}

.link:active,
.sub_link:active {
    color: var(--green);
}

.menuTitle svg {
    stroke: var(--default-color);
    transition: transform var(--anim-function);
}

.menuTitle:hover svg {
    transform: rotate(180deg);
}


.sublist {
    margin: 0;
    padding: 30px 40px;
    list-style: none;
    position: absolute;
    top: 30px;
    left: 0;
    min-width: 100%;
    z-index: 5;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    text-transform: lowercase;

    box-shadow: 20px 20px 30px 0 rgba(25, 24, 48, 0.2);
    background: #fff;
    border-radius: 0 0 20px 20px;
}

.sublist_item {
    margin-bottom: 10px;
}

.menuTitle:hover>.sublist {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
    visibility: visible;
    background-color: #fff;
    color: #000;
}


@media (max-width: 1320px) {
    .list {
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media (max-width: 928px) {
    .list {
        display: none;
    }
}