.section {
    padding: 60px 0;
}

.tabs_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 40px;
}

.tabs_btn {
    color: var(--black);
    background-color: var(--gray);
    border-radius: 20px;
    padding: 14px 20px;

    font-weight: 600;
    transition: all 0.6s ease-in-out;
}

.active {
    color: var(--violet);
    color: var(--white);
}