.section {
    padding: 70px 0;
    position: relative;
}

.wrapper {
    position: relative;
}

.title {
    font-family: var(--font-bebas-neue);
    font-weight: 700;
    font-size: var(--size);
    line-height: 1.1;
    letter-spacing: 0.02em;
    /* color: var(--black-toggle); */
    margin-bottom: 40px;
}

@media screen and (max-width: 480px) {
    .title {
        margin-bottom: 25px;
    }
}

.events_link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--violet);
    padding: 10px 20px;
    border-radius: 6px;

    transition: background-color 0.3s ease;
}

.events_link:hover {
    background-color: var(--green);
}