.nav {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.separator {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: var(--default-color);
}