.recommended {
    padding: 140px 0 70px;
    border-radius: 60px;
    background-color: var(--gray);
    margin-bottom: 70px;
}

@media (max-width:768px) {
    .recommended {
        padding: 40px 0 20px;
    }
}

.recommended .document_list li>div {
    background-color: var(--white);
}

.title_wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.link_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: 700;
    font-size: clamp(1rem, 0.714em + 0.595vw, 1.25em);
    line-height: 130%;
    color: var(--black);

    border-radius: 30px;
    padding: 8px 29px;
    backdrop-filter: blur(50px);
    background: var(--gray);
}

.page_content {
    font-weight: 500;
    font-size: 1.12em;
    margin-bottom: 70px;
}

.page_content p {
    margin-bottom: 20px;
    max-width: 1100px;
}

@media (max-width:768px) {
    .link_wrapper {
        gap: 20px;
    }

    .title_wrapper img {
        width: 70px;
        height: 70px;
    }
}

@media (max-width:560px) {
    .page_content {
        font-size: 0.9em;
    }

    .link_wrapper {
        gap: 15px;
        margin-bottom: 30px;
        flex-direction: column;
    }

    .link_wrapper li {
        width: 100%;
    }

    .link {
        justify-content: center;
    }
}

.document_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 70px;
}

@media (max-width: 768px) {
    .document_list {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.link_list {
    padding-left: 40px;
    list-style: disc;
    margin-bottom: 60px;
}

.link_list li::marker {
    color: #433c8c;
}

.link_list li {
    margin-bottom: 20px;
}

.link_list a {
    font-weight: 500;
    font-size: 1.1em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #433c8c;
}

.small_title {
    font-size: clamp(2.5em, 0.357em + 4.464vw, 4.375em);
}

@media (max-width: 768px) {
    .small_title {
        font-size: 1.9em;
    }

    .link_list a {
        font-size: 0.9em;
    }

    .link_list {
        padding-left: 20px;
        margin-bottom: 40px;
    }
}

.site_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 70px;
}

.site_item {
    border-radius: 20px;
    background: var(--gray);
    padding: 30px;
}

.site_header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--violet);
}

.site_description {
    font-weight: 400;
    font-size: clamp(1em, 0.857em + 0.298vw, 1.125em);
    color: var(--black);
}

@media (max-width: 768px) {
    .site_list {
        gap: 20px;
    }
}

@media (max-width: 760px) {
    .site_list {
        grid-template-columns: 1fr;
    }

    .site_item {
        padding: 20px;
    }
}

.hero {
    background-image: url('/info-security/banner-1-l.webp');
    min-height: 437px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 70px;
    margin-bottom: 70px;
    border-radius: 30px;
}

.hero_parents {
    background-image: url('/info-security/banner-2-l.webp');
    min-height: 680px;
    box-sizing: border-box;
    background-position: center right;
}

.hero_student {
    background-image: url('/info-security/banner-3-l.webp');
    min-height: 461px;
    box-sizing: border-box;
    background-position: center right;
}

.hero_parents .document_wrapper li>div {
    padding: 20px 30px;
}

.hero h1 {
    font-size: clamp(4.625rem, 3.482rem + 2.381vw, 5.625rem);
    margin-bottom: 40px;
}

.document_wrapper {
    max-width: 700px;
}

.document_wrapper li {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .hero {
        background-image: url('/info-security/banner-1-m.webp');
        min-height: 381px;
        padding: 50px;
    }

    .document_wrapper {
        max-width: 451px;
    }

    .hero_parents {
        background-image: url('/info-security/banner-2-m.webp');
        background-position: center center;
        min-height: 381px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .hero_student {
        background-image: url('/info-security/banner-3-m.webp');
        min-height: 420px;
    }

    .hero_parents .document_wrapper li>div {
        padding: 5px 20px;
    }

    .hero_parents .document_wrapper li {
        margin-bottom: 15px;
    }

    .hero_parents h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }
}

@media (max-width: 560px) {
    .hero {
        background-image: url('/info-security/banner-1-s.webp');
        min-height: 772px;
        padding: 30px 20px;
        margin-bottom: 20px;
    }

    .hero_parents {
        background-image: url('/info-security/banner-2-s.webp');
        min-height: 605px;
    }

    .hero_student {
        background-image: url('/info-security/banner-3-s.webp');
        min-height: 605px;
    }

    .hero h1 {
        font-size: 2.3em;
        margin-bottom: 20px;
    }

    .hero_parents .document_wrapper li>div {
        padding: 10px 20px;
    }
}

.method {
    padding: 70px 0;
}

.help_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 70px;
}

.help_item {
    border-radius: 40px;
    padding: 30px;
    background-color: var(--gray);
}

.help_count {
    width: 50px;
    height: 50px;
    box-shadow: 20px 20px 30px 0 #bfc5db;
    background: #37a4da;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 0.86667;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 20px;
}

.help_count_green {
    background-color: var(--green);
}

.help_title {
    color: var(--violet);
    text-transform: uppercase;
    font-size: 1.25em;
    margin-bottom: 20px;
}

.help_content {
    color: var(--black);
    font-size: 1em;
}

.help_content ul {
    padding-left: 30px;
}

.help_content li {
    list-style: disc;
    margin-bottom: 10px;
}

.help_content a {
    font-weight: 700;
}


.help_content p {
    margin-bottom: 10px;
}

.help_item_bg {
    background-image: url('/info-security/image-9.webp'),
        url('/info-security/image-10.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 391px 262px,
        contain;
}

@media (max-width: 768px) {
    .help_list {
        grid-template-columns: 1fr;
    }

    .help_item_bg {
        padding-bottom: 250px;
    }
}

@media (max-width: 560px) {
    .help_title {
        font-size: 0.85em;
    }

    .help_item {
        padding: 20px;
    }

    .help_item_bg {
        padding-bottom: 250px;
    }
}

.image_wrapper {
    border-radius: 30px;
    margin-bottom: 40px;
}

.image_wrapper img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}