.title_wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.link_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: 700;
    font-size: clamp(1rem, 0.714em + 0.595vw, 1.25em);
    line-height: 130%;
    color: var(--black);

    border-radius: 30px;
    padding: 8px 29px;
    backdrop-filter: blur(50px);
    background: var(--gray);
}

.page_content {
    font-weight: 500;
    font-size: 1.12em;
    margin-bottom: 70px;
}

.page_content p {
    margin-bottom: 20px;
}

@media (max-width:768px) {
    .link_wrapper {
        gap: 20px;
    }

    .title_wrapper img {
        width: 70px;
        height: 70px;
    }
}
@media (max-width:560px) {
    .page_content {
        font-size: 0.9em;
    }

    .link_wrapper {
        gap: 15px;
        margin-bottom: 30px;
        flex-direction: column;
    }

    .link_wrapper li{
        width: 100%;
    }

    .link {
        justify-content: center;
    }
}

.document_list {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 30px;
    margin-bottom: 70px;
}

@media (max-width: 768px) {
    .document_list {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.link_list {
    padding-left: 40px;
    list-style: disc;
    margin-bottom: 60px;
}

.link_list li::marker {
    color: #433c8c;
}

.link_list li {
    margin-bottom: 20px;
}

.link_list a {
    font-weight: 500;
    font-size: 1.1em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #433c8c;
}

.small_title {
    font-size: clamp(2.5em, 0.357em + 4.464vw, 4.375em);
}

@media (max-width: 768px) {
    .small_title {
        font-size: 1.9em;
    }

    .link_list a {
        font-size: 0.9em;
    }

    .link_list {
        padding-left: 20px;
        margin-bottom: 40px;
    }
}

.site_list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-bottom: 70px;
}

.site_item {
    border-radius: 20px;
    background: var(--gray);
    padding: 30px;
}

.site_header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--violet);
}

.site_description {
    font-weight: 400;
    font-size: clamp(1em, 0.857em + 0.298vw, 1.125em);
    color: var(--black);
}

@media (max-width: 768px) {
    .site_list {
        gap: 20px;
    }
}
@media (max-width: 760px) {
    .site_list {
       grid-template-columns: 1fr;
    }

    .site_item {
        padding: 20px;
    }
}