.link {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--anim-function);
}

.gray {
    background-color: var(--color-gray);
}

.purple {
    background-color: var(--color-purple);
}

.gray_hover:hover {
    background-color: var(--color-purple);
}

.gray_hover:active {
    background-color: var(--light-blue);
}

.purple_hover:hover {
    background-color: var(--light-blue);
}

.purple_hover:active {
    background-color: var(--yellow);
}