.img_wrapper {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
    border: none;
}

.img_wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}