.swiper_nav_btns button {
    transition: all var(--anim-function);
}
.swiper_nav_btns button:hover {
    background-color: var(--violet);
    color: var(--white);
    cursor: pointer;
}


.swiper_nav_btns button path {
    transition: all var(--anim-function);
}

.swiper_nav_btns button:hover path {
    stroke: var(--white);
}

.swiper_nav_btns button:active {
    background-color: green;
    color: var(--black);
    cursor: pointer;
}

.btn_prev {
    background-color: var(--white);
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    text-align: center;
}


.btn_next {
    background-color: var(--white);
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    text-align: center;
}

.swiper_nav_btns {
    position: absolute;
    top: 35px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.buttons_bottom {
    position: absolute;
    top: auto;
    bottom: 30px;
    right: 50%;
    margin: 0 auto;
    transform: translateX(50%);
}