.section {
    padding: 70px 0;
    position: relative;
}

.wrapper {
    position: relative;
}

.title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: clamp(2.5em, -1.071em + 7.44vw, 5.625em);
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--black-toggle);
    margin-bottom: 40px;
}

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

@media (max-width:768px) {
    .list {
        grid-template-columns: 1fr;
    }
}