.button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-green);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #29a55c;
    border-radius: 6px;
    padding: 6px 20px;
    background-color: transparent;
    cursor: pointer;
}