.wrapper {
    display: flex;
    background-color: var(--gray);
    border-radius: 10px;
    /* margin: 20px 0; */
    position: relative;
}

.input {
    display: flex;
    width: 100%;
    background-color: var(--gray);
    padding: 15px 30px;
    color: var(--black);

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    border: none;
}

.input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
}

.delete {
    background-color: transparent;
    border: none;
    margin: 0 10px;
    padding: 0 10px;
    cursor: pointer;
}

.submit {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
    background-color: var(--green);
    border-radius: 10px;
    padding: 6px 20px;
    border: none;
    width: 190px;
    cursor: pointer;
    transition: background-color var(--anim-function);
}

.submit:hover,
.submit:active {
    background-color: var(--violet);
}

.search_res {
    width: 90%;
    height: auto;
    background-color: #fff;
    position: sticky;
    transform: translateY(-17px);
    box-shadow: rgba(0, 0, 0, .4) 0px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    margin: 8px;
}

.search_res a:hover {
    text-decoration: underline;
}

.list {
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 5;
    background-color: var(--white);
    color: var(--black);
    padding: 10px 20px 20px 20px;
    width: 100%;
    min-height: 60px;

    max-height: 300px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, .3) 0px 19px 38px, rgba(0, 0, 0, .22) 0px 15px 12px;
}

.item {
    margin-bottom: 10px;
}

.item_link {
    color: var(--blue);
    transition: color 0.3s ease;
}

.item_link:hover {
    color: var(--violet);
}